name: montecarlo-var
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - scipy
  - pyyaml
  - matplotlib
  - jupyterlab
  - ipykernel
  - tqdm
  - pip:
      - yfinance
      - arch